#icon-heading{
  animation: rotation 10s infinite linear;
}


.bg-light {
  background-color: rgba(30, 39, 46, .3)!important;
}
.navbar-brand{
  font-family: 'Exo', sans-serif; 
  font-size: 2rem;
}

a.nav-link{
  font-size: 1.1rem;
}

a.nav-link:hover, a.nav-link:focus{
  text-decoration: underline;

}

