
/* fonts */

/* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Exo', sans-serif; 
font-family: 'Economica', sans-serif;*/

/* global */
body{
  font-family:'Source Sans Pro', sans-serif;
}
h1,
h2{
  font-family: 'Exo', sans-serif;
}
#page-container{
  background-image: url("../static/images/background-reg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  height: 100vh;
  color: #fff;
}

#page-container a{
  color: white;
}

#inside-page-container{
  background-image: url("../static/images/square-background.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left;
  background-size: cover;
  height: 100vh;
  color: black;
}

#inside-page-container a{
  color: black;
}
#inside-page-container a.brand{
  color: #fff;
}


a.nav-link{
  text-decoration: none;
}

a.nav-link.session-user:hover{
  text-decoration: none;
}

#inside-page-container a.nav-link.clickable:hover{
  background: black;
  color: white;
  text-decoration: none;
}

#page-container a.nav-link.clickable-2:hover{
  background: white;
  color: black;
  text-decoration: none;
}


/* forms */
@media screen and (min-width: 576px) {
  input#todo-list {
    width: 37em;
  }
}



/* apology page css */
#apology{
  margin-top: 4em;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
  animation: rotation 3s infinite linear;
  width: auto;
  height: 15em;
  
}

@keyframes rotation{
  from{
    transform: rotate(0deg);
  } to {
    transform: rotate(359deg);
  }
}

@media screen and (max-width: 780px){
  #apology{
    height: 20em;
    width: auto;
  }
}

/* registration / login form warnings */
.form-warning{
  border: 2px solid #eb2f06;
}

.form-warning-2{
  background-color: #eb2f06;
}

/* image overlays */


#timetracker-img,
#todo-img{
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
 
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: auto;
  height: 100%;
  width: 94.8%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.action-image-1:hover .overlay {
  opacity: .9;
}

.timetracker-text,
.todo-text{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* to-do list */

.todo-header{
  text-transform: capitalize;
}

a.d-flex.bd-highlight.mb-1.list-group-item-light.list-group-item-action.list-group-item{
  width: 41em;
}

.list-group{
  align-items: center;
}

.delete-button:hover{
  background-color:rgb(220, 53, 69);
  color: white;
}

button.btn.btn-light.pb-2.bd-highlight.complete-button:hover{
  background-color: #007BFF;
  color: white;
}

