
/* fonts */

/* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Exo', sans-serif; 
font-family: 'Economica', sans-serif;*/

/* global */
body{
  font-family:'Source Sans Pro', sans-serif;
  
}
#page-container{
  background-image: url("../static/images/background-reg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  height: 100vh;
  color: #fff;
}


a{
  text-decoration: none;
  color: white!important;
}

a.navbar-brand{
  color: white!important;
}


/* apology page css */
#apology{
  margin-top: 4em;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
  animation: rotation 3s infinite linear;
  width: auto;
  height: 15em;
  
}

@keyframes rotation{
  from{
    transform: rotate(0deg);
  } to {
    transform: rotate(359deg);
  }
}

@media screen and (max-width: 780px){
  #apology{
    height: 20em;
    width: auto;
  }
}

/* registration / login form warnings */
.form-warning{
  border: 2px solid #e55039;
}

.form-warning-2{
  background-color: #e55039;
}