
{% extends "layout.html" %}

{% block title %}Apology{% endblock %}

{% block main %}

<div class="container">
 <div class="row d-flex justify-content-center">
    <div class="col">
         <img id="apology" alt="{{ top }}" class="border" src="https://memegen.link/custom/{{ top | urlencode }} / {{ bottom | urlencode }}.jpg?alt=https://cdn.pixabay.com/photo/2014/11/16/23/16/upset-534103_960_720.jpg&font=opensans-extrabold" title="{{ top }}">
    </div>
    <div class="col">
         <img id="apology" alt="{{ top }}" class="border" src="https://memegen.link/custom/{{ top | urlencode }} / {{ bottom | urlencode }}.jpg?alt=https://cdn.pixabay.com/photo/2014/11/16/23/16/upset-534103_960_720.jpg&font=opensans-extrabold" title="{{ top }}">
    </div>
    <div class="col">
         <img id="apology" alt="{{ top }}" class="border" src="https://memegen.link/custom/{{ top | urlencode }} / {{ bottom | urlencode }}.jpg?alt=https://cdn.pixabay.com/photo/2014/11/16/23/16/upset-534103_960_720.jpg&font=opensans-extrabold" title="{{ top }}">
    </div>



 </div>
 <div class="row d-flex justify-content-center">
      <div class="col">
            <img id="apology" alt="{{ top }}" class="border" src="https://memegen.link/custom/{{ top | urlencode }} / {{ bottom | urlencode }}.jpg?alt=https://cdn.pixabay.com/photo/2014/11/16/23/16/upset-534103_960_720.jpg&font=opensans-extrabold" title="{{ top }}">
       </div>
       <div class="col">
            <img id="apology" alt="{{ top }}" class="border" src="https://memegen.link/custom/{{ top | urlencode }} / {{ bottom | urlencode }}.jpg?alt=https://cdn.pixabay.com/photo/2014/11/16/23/16/upset-534103_960_720.jpg&font=opensans-extrabold" title="{{ top }}">
       </div>
       <div class="col">
            <img id="apology" alt="{{ top }}" class="border" src="https://memegen.link/custom/{{ top | urlencode }} / {{ bottom | urlencode }}.jpg?alt=https://cdn.pixabay.com/photo/2014/11/16/23/16/upset-534103_960_720.jpg&font=opensans-extrabold" title="{{ top }}">
       </div>

</div>

 
</div>

{% endblock %}