{% extends "layout.html" %}

{% block title %}Main Page{% endblock %}

{% block main %}
<div class="container main">
  <div class="row my-4 justify-content-center">
      <h1 class="homepage-header">Welcome 
          {% filter upper %}
          {{session.user_name}}!
          {% endfilter %}
          </h1>
  </div>
  
  <div class="row overlay-images">
    <div class="col action-image-1">
        <a href="/timetracker">
          <img id="timetracker-img" src="/static/images/alarm-alarm-clock-analog-714701.jpg" alt="timetracker">
          <div class="overlay">
            <p class="timetracker-text">Keep track of your hours as you work on freelance projects.</p>
          </div>
        </a>
    </div>
    <div class="col action-image-1">
        <a href="/todo">
          <img id="todo-img" src="/static/images/agenda-blank-checklist-3299.jpg" alt="todo list">
            <div class="overlay">
              <p class="todo-text" >Write simple to-do lists for daily tasks.</p>
          </div>
        </a>
    </div>
      
  </div>
</div>


{% endblock %}
