<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Freelance Tracker App {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="static/navigation.css">
    <link rel="stylesheet" type="" href="static/login.css">
    <link rel="stylesheet" href="static/registration.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Economica:400,700|Exo:400,700|Source+Sans+Pro:400,400i,700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/images/geometric_drawing.png">
  

  </head>
  <body>
    {% if session.user_id %}
    <div id ="inside-page-container">
      {% else %}
    
    <div id="page-container">
      {% endif %}
      <!-- Image and text -->
       <nav class="navbar navbar-light navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img id="icon-heading" src="../static/images/geometric_drawing.png" width="40" height="40" class="d-inline-block align-top" alt="geometric shape">
            Freelance Tracker
          </a> 
          {% if session.user_id %}
          <ul class="navbar-nav ml-auto mt-2">
              <li class="nav-item"><a class="nav-link" href="#">{{session.user_name}}</a></li>
              <li class="nav-item"><a class="nav-link" href="/timetracker"><i class="fas fa-stopwatch"></i> Time Tracker</a></li>
              <li class="nav-item"><a class="nav-link" href="/todo"><i class="fas fa-list"></i> To-Do List</a></li>
              <li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
          </ul>
        {% else %}
          <ul class="navbar-nav ml-auto mt-2">
              <li class="nav-item"><a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Register</a></li>
              <li class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Log In</a></li>
          </ul>
          {% endif %}
        </div>    
      </nav> 
    
      {% if get_flashed_messages() %}
      <div class="alert alert-info text-center" role="alert">
        {{ get_flashed_messages() | join(" ") }}
        
      </div>
      {% endif %}

    {% block main %}
    {% endblock %}

    <nav class="navbar  fixed-bottom navbar-dark bg-dark">
        <a class="brand" href="#">Built by Brandon Melendez | Volta Dev & Design 2019</a>
      </nav>
  </div>
  





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script defer src="static/main.js"></script>
   
  </body>
</html>