{% extends "layout.html" %}
{% block title %}Timetracker {% endblock %}

{% block main %}
<div class="container clock-container">
  <div class="row my-3">
    <div class="col col-8">
        <h1 id="digital-clock">00:00:00</h1>
    </div>
    <div class="col col-2">
        <button id="startStop" class="btn ml-3 btn-lg btn-success"><i class="fas fa-play"></i></button>
    </div>      
    <div class="col col-2">
        <button id="reset" class="btn ml-3 btn-lg btn-danger"><i class="fas fa-redo"></i></button>
    </div>
    
  </div>

 



{% endblock %}