{% extends "layout.html" %}
{% block title %}To Do List {% endblock %}

{% block main %}


<div class=" container">
  <div class="row justify-content-center my-3">
    <h1 class="todo-header">What do you need to accomplish today?</h1>
  </div>
  <div class="row justify-content-center">
    <form class="form-inline" action="/todo" method="post">
      <div class="form-group">
          <input type="text" class="form-control" name="todo-item" id="todo-list">
          <button class="btn btn-danger mx-2 " type="submit">Add</button>
      </div>
    </form>
  </div>

</div>

<div class="container my-2">
  <div class="list-group">
    {% for item in items %}
    <a href="#" class="d-flex justify-content-between list-group-item-light list-group-item-action list-group-item align-items-center">
        {% filter upper %}
          {{ item.todoitem }}
        {% endfilter %}
        <form action="{{ url_for('delete_item', deleteitem = item.todoitem)}}" method="post">
          <input type="hidden"  class="form-control" name="item_to_delete">
          <button type="submit"  class="btn btn-light delete-button"> x </button>
        </form>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}